/* General Variables */
$border-radius: 6px;

/* Colors */
$orange: #E27730;
$background-light: #F8F8F8;
$border-color: #DDDDDD;
$box-shadow-color: #00000026;
$primary-text: #444444;
$secondary-text: #777777;
$hint-text: #AAAAAA;
$link-text: #036AAB;

/* Screen Sizes */
$xs: 576;
$sm: 768;
$md: 1024;
$lg: 1280;
