/* Features Block Style */
.wl-features {
    padding-block: 100px;

    @include mobile {
        padding-block: 34px;
    }

    @include md {
        padding-block: 50px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: 100%;

        @include xs {
            grid-template-columns: 1fr;
        }

        @include sm {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        @include sm {
            &:nth-child(1),
            &:nth-child(2) {
                padding-top: 0;
            }

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                border-right: 1px solid $border-color;
            }

            &:nth-child(4),
            &:nth-child(6) {
                h3 {
                    padding-inline: 30px;
                }
            }

            &:nth-child(5),
            &:nth-child(6) {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        
        @include md {
            border-bottom: 1px solid $border-color;

            &:nth-child(1),
            &:nth-child(2) {
                padding-top: 0;
            }

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                border-right: 1px solid $border-color;
            }

            &:nth-child(4),
            &:nth-child(6) {
                h3 {
                    padding-inline: 30px;
                }
            }

            &:nth-child(5),
            &:nth-child(6) {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        @include desktop {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                padding-top: 0;
                border-bottom: 1px solid $border-color;
            }

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                padding-bottom: 0;
            }

            &:nth-child(4),
            &:nth-child(6) {
                h3 {
                    padding-inline: 30px;
                }
            }
        }
    }
}
