/* 
 * Reset Style Based on: A Modern CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Variables */

/* Colors */

/* Screen Sizes */

/* XS Screens Breakpoint */

/* SM Screens Breakpoint */

/* MD Screens Breakpoint */

/* LG Screens Breakpoint */

/* Mobile Screens Breakpoint */

/* Upper Tablet and Desktop Screens Breakpoint */

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding-inline: 0;
}

.container--column {
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding-inline: 34px;
  }
}

@font-face {
  font-family: Arvo;
  src: url("../../assets/fonts/arvo-regular-webfont.woff2") format("woff2"), url("../../arvo-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("../../assets/fonts/lato-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("../../assets/fonts/lato-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* General Custom Classes */

.wl-hide {
  display: none !important;
}

.wl-show {
  display: block;
}

/* General Button Style */

.wl-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  text-align: center;
  min-width: 290px;
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.wl-button--primary {
  color: #FFFFFF;
  background-color: #E27730;
  border-color: rgba(0, 0, 0, 0.2);
}

.wl-button--primary:hover {
  opacity: 0.7;
}

.wl-button--secondary {
  color: #777777;
  background-color: #FFFFFF;
  border-color: #DDDDDD;
}

.wl-button--secondary:hover {
  color: #444444;
  border-color: #444444;
  opacity: 0.7;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-button {
    min-width: 265px;
  }
}

@media screen and (max-width: 767px) {
  .wl-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-button {
    font-size: 18px;
  }
}

/* General Card Style */

.wl-card {
  padding: 48px 51px;
}

@media screen and (max-width: 575px) {
  .wl-card {
    padding: 34px 16px;
    border-bottom: 1px solid #DDDDDD;
  }

  .wl-card:first-child {
    padding-top: 0;
  }

  .wl-card:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-card {
    padding: 48px 28px;
    border-bottom: 1px solid #DDDDDD;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-card {
    padding: 48px 28px;
  }
}

@media screen and (min-width: 1023px) {
  .wl-card:nth-child(1),
  .wl-card:nth-child(4) {
    padding-left: 0;
    border-right: 1px solid #DDDDDD;
  }

  .wl-card:nth-child(3),
  .wl-card:nth-child(6) {
    padding-right: 0;
    border-left: 1px solid #DDDDDD;
  }
}

.wl-card__wrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .wl-card__wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-card__wrapper {
    width: 100%;
  }
}

.wl-card__icon svg {
  margin: 0 auto;
}

.wl-card__title {
  color: #444444;
  font-size: 24px;
  line-height: 125%;
}

@media screen and (max-width: 767px) {
  .wl-card__title {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-card__title {
    font-size: 21px;
  }
}

.wl-card__content {
  font-size: 16px;
  line-height: 150%;
}

/* Hero Block Style */

.wl-hero {
  padding-block: 50px 320px;
  background-color: #F8F8F8;
}

@media screen and (max-width: 767px) {
  .wl-hero {
    padding-block: 34px;
  }
}

.wl-hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .wl-hero__wrapper {
    gap: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-hero__wrapper {
    gap: 30px;
  }
}

.wl-hero__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

@media screen and (max-width: 575px) {
  .wl-hero__title-wrapper {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.wl-hero__title {
  color: #444444;
  font-family: Arvo, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 123%;
}

@media screen and (max-width: 575px) {
  .wl-hero__title {
    font-size: 34px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-hero__title {
    font-size: 41px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-hero__title {
    font-size: 41px;
  }
}

.wl-hero__badge {
  font-family: "Helvetica Neue", sans-serif;
  display: block;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 700;
  line-height: 120%;
  background-color: #BBBBBB;
  padding: 5px 10px;
  border-radius: 22px;
  text-transform: uppercase;
  width: 42px;
  height: 22px;
}

@media screen and (max-width: 575px) {
  .wl-hero__badge {
    align-self: self-end;
  }
}

.wl-hero__subtitle {
  font-size: 20px;
  line-height: 140%;
  opacity: 0.8;
}

@media screen and (max-width: 575px) {
  .wl-hero__subtitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-hero__subtitle {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-hero__subtitle {
    font-size: 18px;
  }
}

.wl-hero__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .wl-hero__button-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .wl-hero__button-wrapper {
    gap: 16px;
  }
}

/* Video Block Style */

.wl-video__wrapper {
  display: flex;
  width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 6px;
  margin-top: -270px;
}

@media screen and (max-width: 767px) {
  .wl-video__wrapper {
    margin-top: 34px;
  }
}

.wl-video__thumbnail {
  display: block;
  transition: all 0.3s ease-out;
}

.wl-video__thumbnail img {
  border-radius: 6px;
}

.wl-video__thumbnail:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1490196078);
}

.wl-video__source {
  border-radius: 6px;
}

/* Features Block Style */

.wl-features {
  padding-block: 100px;
}

@media screen and (max-width: 767px) {
  .wl-features {
    padding-block: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-features {
    padding-block: 50px;
  }
}

.wl-features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .wl-features__wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-features__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-features__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-features__item:nth-child(1),
  .wl-features__item:nth-child(2) {
    padding-top: 0;
  }

  .wl-features__item:nth-child(1),
  .wl-features__item:nth-child(3),
  .wl-features__item:nth-child(5) {
    border-right: 1px solid #DDDDDD;
  }

  .wl-features__item:nth-child(4) h3,
  .wl-features__item:nth-child(6) h3 {
    padding-inline: 30px;
  }

  .wl-features__item:nth-child(5),
  .wl-features__item:nth-child(6) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-features__item {
    border-bottom: 1px solid #DDDDDD;
  }

  .wl-features__item:nth-child(1),
  .wl-features__item:nth-child(2) {
    padding-top: 0;
  }

  .wl-features__item:nth-child(1),
  .wl-features__item:nth-child(3),
  .wl-features__item:nth-child(5) {
    border-right: 1px solid #DDDDDD;
  }

  .wl-features__item:nth-child(4) h3,
  .wl-features__item:nth-child(6) h3 {
    padding-inline: 30px;
  }

  .wl-features__item:nth-child(5),
  .wl-features__item:nth-child(6) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media screen and (min-width: 1023px) {
  .wl-features__item:nth-child(1),
  .wl-features__item:nth-child(2),
  .wl-features__item:nth-child(3) {
    padding-top: 0;
    border-bottom: 1px solid #DDDDDD;
  }

  .wl-features__item:nth-child(4),
  .wl-features__item:nth-child(5),
  .wl-features__item:nth-child(6) {
    padding-bottom: 0;
  }

  .wl-features__item:nth-child(4) h3,
  .wl-features__item:nth-child(6) h3 {
    padding-inline: 30px;
  }
}

/* Testimonials Block Style */

.wl-testimonials {
  padding-block: 100px;
  background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
}

@media screen and (max-width: 767px) {
  .wl-testimonials {
    padding-block: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-testimonials {
    padding-block: 50px;
  }
}

.wl-testimonials__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 50px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .wl-testimonials__wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-testimonials__wrapper {
    gap: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-testimonials__wrapper {
    gap: 24px;
  }
}

.wl-testimonials__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-testimonials__item {
    padding: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-testimonials__item {
    padding: 24px;
  }
}

.wl-testimonials__content {
  font-size: 16px;
  line-height: 150%;
}

.wl-testimonials__footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-testimonials__footer {
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-testimonials__footer {
    flex-direction: column;
    gap: 8px;
  }
}

.wl-testimonials__author {
  color: #AAAAAA;
  font-size: 14px;
  line-height: 120%;
}

.wl-testimonials__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 575px) {
  .wl-testimonials__button-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .wl-testimonials__button-wrapper {
    gap: 16px;
    padding-top: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-testimonials__button-wrapper {
    padding-top: 50px;
  }
}

/* Featured Content Block Style */

.wl-featured-content {
  padding-block: 100px;
  background: #F8F8F8;
}

@media screen and (max-width: 767px) {
  .wl-featured-content {
    padding-block: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-featured-content {
    padding-block: 50px;
  }
}

.wl-featured-content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 50px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .wl-featured-content__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .wl-featured-content__wrapper {
    gap: 34px;
  }
}

.wl-featured-content__featured-image {
  border-radius: 6px;
}

.wl-featured-content__featured-image img {
  border-radius: 6px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1019607843);
}

.wl-featured-content__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .wl-featured-content__content-wrapper {
    gap: 16px;
  }
}

.wl-featured-content__title {
  color: #444444;
  font-size: 32px;
  line-height: 120%;
}

@media screen and (max-width: 767px) {
  .wl-featured-content__title {
    font-size: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-featured-content__title {
    font-size: 26px;
  }
}

.wl-featured-content__content {
  font-size: 18px;
  line-height: 155%;
}

@media screen and (max-width: 767px) {
  .wl-featured-content__content {
    font-size: 16px;
  }
}

/* Secondary Features Block Style */

.wl-secondary-features {
  padding-block: 100px;
}

@media screen and (max-width: 767px) {
  .wl-secondary-features {
    padding-block: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-secondary-features {
    padding-block: 50px;
  }
}

.wl-secondary-features__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .wl-secondary-features__wrapper {
    gap: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-secondary-features__wrapper {
    gap: 50px;
  }
}

.wl-secondary-features__screenshots {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 575px) {
  .wl-secondary-features__screenshots {
    flex-direction: column;
    order: 3;
  }
}

@media screen and (max-width: 767px) {
  .wl-secondary-features__screenshots {
    gap: 16px;
  }
}

.wl-secondary-features__screenshots picture {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1490196078);
}

.wl-secondary-features__screenshots picture img {
  border-radius: 6px;
}

.wl-secondary-features__title {
  color: #444444;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .wl-secondary-features__title {
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  .wl-secondary-features__title {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-secondary-features__title {
    font-size: 21px;
  }
}

.wl-secondary-features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width: 575px) {
  .wl-secondary-features__list {
    grid-template-columns: 1fr;
    order: 2;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wl-secondary-features__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-secondary-features__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wl-secondary-features__item {
  padding-block: 0;
}

@media screen and (max-width: 767px) {
  .wl-secondary-features__item {
    padding: 34px 16px;
  }

  .wl-secondary-features__item:first-child {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-secondary-features__item {
    padding: 0 28px;
    border-bottom: none;
  }

  .wl-secondary-features__item:not(:last-child) {
    border-right: 1px solid #DDDDDD;
  }
}

.wl-secondary-features__content {
  padding-right: 12px;
}

@media screen and (max-width: 767px) {
  .wl-secondary-features__content {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-secondary-features__content {
    padding-right: 0;
  }
}

/* Footer CTA Block Style */

.wl-footer-cta {
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .wl-footer-cta {
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-footer-cta {
    padding-bottom: 50px;
  }
}

.wl-footer-cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-footer-cta__wrapper {
    max-width: 660px;
  }
}

.wl-footer-cta__title {
  color: #444444;
  font-size: 24px;
  line-height: 125%;
}

@media screen and (max-width: 767px) {
  .wl-footer-cta__title {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wl-footer-cta__title {
    font-size: 21px;
  }
}

.wl-footer-cta__content {
  font-size: 18px;
  line-height: 120%;
}

@media screen and (max-width: 767px) {
  .wl-footer-cta__content {
    font-size: 16px;
  }
}

.wl-footer-cta__link {
  color: #036AAB;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: all 0.3s ease-out;
}

.wl-footer-cta__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 575px) {
  .wl-footer-cta__link {
    text-underline-offset: 3px;
  }
}